<div class="cms-action-menu" style="margin-top: 10px;">
<%- case params[:action] -%>
<%- when 'show' -%>
  <%= link_to :index %>
  <span class="cms-action-menu__separator"></span>
  <%= link_to :destroy %>
<%- end -%>
</div>
